<div class="row justify-content-md-center">
  <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" style="max-width: 700px;">
    <h1 class="display-4">Welcome to <br />Hawking's Mate</h1>
    <p class="lead">
      Hawking's Mate is a platform to support ALS patients during the course of their disease. The integrated artificial intelligence has been trained on countless disease courses and is now able to act in advance for patients.
      To try it out, click on one of the three Login buttons. Enjoy!
    </p>
  </div>
</div>
<div style="margin-top: 50px; margin-bottom: 50px" class="row justify-content-md-center">
  <div class="col-4">
    <form [formGroup]="form" (ngSubmit)="login()">
      <h2 style="text-align: center">Please sign in</h2>
      <label for="username" class="sr-only">Email address</label>
      <input type="email" id="username" class="form-control" placeholder="Email address"
             formControlName="username" required autofocus style="height: 50px">
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" class="form-control" placeholder="Password"
             formControlName="password" required style="height: 50px">
      <button type="submit" class="btn btn-primary" style="width: 100%; margin-top: 30px;">Sign in</button>
      <button type="submit" class="btn btn-primary" style="width: 100%; margin-top: 30px;">Sign in with Voice </button>
      <div class="separator" style="margin-top: 30px">or</div>
      <button type="button" class="btn btn-outline-secondary" style="width: 100%; margin-top: 30px;"
              (click)="loginDirectly('patient', 'password')">Login as patient
      </button>

      <button type="button" class="btn btn-outline-secondary" style="width: 100%; margin-top: 30px;"
              (click)="loginDirectly('care_giver', 'password')">Login as care giver
      </button>

      <button type="button" class="btn btn-outline-secondary" style="width: 100%; margin-top: 30px;"
              (click)="loginDirectly('physician', 'password')">Login as physician
      </button>
    </form>
  </div>
</div>
