/* You can add global styles to this file, and also import other style files */
.container {
  width: 1280px !important;
}

html, body, app-root {
  height: 100%;
  margin: 0;
}

/* Trick */
body, app-root {
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  color: #212529;
}

h1 {
  font-size: 3.5rem !important;
  font-weight: 300 !important;
  line-height: 1.2 !important;
}

h2 {
  font-size: 2rem !important;
  font-weight: 300 !important;
}

h3 {
  font-size: 1.25rem !important;
  font-weight: 300 !important;
}

body.login {
  background-image: url('assets/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@font-face {
  font-family: 'WorkSans';
  src: url('assets/WorkSans-VariableFont_wght.ttf'); /* IE9 Compat Modes */
  src: url('assets/WorkSans-VariableFont_wght.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: normal;
}

@font-face {
  font-family: 'WorkSansBold';
  src: url('assets/WorkSans-VariableFont_wght.ttf'); /* IE9 Compat Modes */
  src: url('assets/WorkSans-VariableFont_wght.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: bold;
}
