<div class="header">
  <div class="header-inner">
    <div>
      <button mat-button [matMenuTriggerFor]="user">
        <mat-icon>account_circle</mat-icon>
        <span *ngIf="userProfile$ | async"> {{(userProfile$ | async).first_name}} {{(userProfile$ | async).last_name}} ({{(userProfile$ | async).username}})</span>
      </button>
      <mat-menu #user="matMenu" xPosition="before">
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </div>
    <img src="assets/logo.png" alt="brand">
  </div>
</div>
<div class="body">
  <router-outlet></router-outlet>
</div>
