<div class="row justify-content-md-center">
  <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" style="max-width: 700px;">
    <h1 class="display-4">Amyotrophic Lateral Sclerosis Simulation</h1>
    <p class="lead">
      This is a non-medically validated simulation to visualize an ALS disease and get an impression about
      Gherig's Mate.
    </p>
  </div>
</div>
<div class="row justify-content-md-center">
  <div class="col-8">
    <div class="card text-center">
      <div class="card-header">
        <h2>Day {{currentDay.day}}</h2>
      </div>
      <div class="card-body">
        <h4>Steps walked in one go:</h4>
        <p><ngb-progressbar type="success" [value]="currentDay.steps" [max]="currentDay.steps_max">{{currentDay.steps}} Steps</ngb-progressbar></p>
        <p><ngb-progressbar type="info" [value]="50"></ngb-progressbar></p>
        <p><ngb-progressbar type="warning" [value]="150" [max]="200"></ngb-progressbar></p>
        <p><ngb-progressbar type="danger" [value]="150" [max]="150"></ngb-progressbar></p>
        <button mat-button color="primary" (click)="animateDays()">Start Simulation</button>
      </div>
    </div>
  </div>
</div>

