<div class="d-flex flex-column flex-md-row align-items-center p-2 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <a class="navbar-brand mr-md-auto" href="#" style="padding-top: 10px;">
    <img src="assets/logo.png" width="40" height="40" class="d-inline-block align-top" style="margin-right: 10px; margin-top: -10px;"
         alt="">
    Gehrig’s Mate
  </a>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="#">Final Manager</a>
    <a class="p-2 text-dark" href="#">Shooter Portal</a>
    <a class="p-2 text-dark" href="#">SCATT Portal</a>
    <!--    <a class="p-2 text-dark" href="#">Pricing</a>-->
  </nav>
  <div *ngIf="(userProfile$ | async)">
    <button mat-button [matMenuTriggerFor]="user">
      <mat-icon>account_circle</mat-icon>
      <span *ngIf="userProfile$ | async"> {{(userProfile$ | async).first_name}} {{(userProfile$ | async).last_name}} ({{(userProfile$ | async).username}})</span>
    </button>
    <mat-menu #user="matMenu" xPosition="before">
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </div>
  <a *ngIf="!(userProfile$ | async)" class="btn btn-outline-primary" routerLink="login">Login</a>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
<div class="footer font-small">
  <div class="footer-copyright text-center"
       style="font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif; margin-bottom: 15px; color: #646464;">
    Made with ❤ by Benjamin, Cedric, Petronela, Renata and Iwan
  </div>
</div>
