<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <a class="navbar-brand mr-md-auto" href="#">
    <img src="assets/logo-solid.svg" width="60" height="30" class="d-inline-block align-top" style="margin-right: 10px;"
         alt="">
    finals.ch
  </a>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="#">Final Manager</a>
    <a class="p-2 text-dark" href="#">Shooter Portal</a>
    <a class="p-2 text-dark" href="#">SCATT Portal</a>
    <!--    <a class="p-2 text-dark" href="#">Pricing</a>-->
  </nav>
  <a class="btn btn-outline-primary" routerLink="login">Sign up</a>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
<div class="footer font-small">
  <div class="footer-copyright text-center"
       style="font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif; margin-bottom: 15px; color: #646464;">
    Made with ❤ by Benjamin, Cedric, Petronela, Renata and Iwan
  </div>
</div>
