<div class="body-inner">

  <div class="patientbox" [routerLink]="['/patients/detail', 0]">
    <img src="assets/person.jpg" alt="avatar">
    <div class="patientbox-name">Max Muster</div>
    <div class="patientbox-state">Current State: 3</div>
    <div class="patientbox-alarm">No Alarm</div>
  </div>

  <div class="patientbox alarm" [routerLink]="['/patients/detail', 1]">
    <img src="assets/person.jpg" alt="avatar">
    <div class="patientbox-name">Manfred Meier</div>
    <div class="patientbox-state">Current State: 5</div>
    <div class="patientbox-alarm">Alarm</div>
  </div>

  <div class="patientbox" [routerLink]="['/patients/detail', 2]">
    <img src="assets/person.jpg" alt="avatar">
    <div class="patientbox-name">Melvin Moser</div>
    <div class="patientbox-state">Current State: 7</div>
    <div class="patientbox-alarm">No Alarm</div>
  </div>

</div>
